<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>

<body>
    <table>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Contact</th>
        </tr>
        <% if(customers.length>0)%>
        <% customers.forEach(function(customer){ %>
            <tr>
                <td><%=customer.fullname%></td>
                <td><%=customer.email%></td>
                <td><%=customer.mobile%></td>
                <td><%=customer.contacted%></td>
                <td><button><a href=<%="https://wa.me/"+customer.mobile%>>Connect</a></button></td>
            </tr>
        <% }); %>


    </table>
</body>

</html>