<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staffs</title>
</head>

<body>
    <table>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Contact</th>
        </tr>
        <% if(staffs.length>0)%>
        <% staffs.forEach(function(staff){ %>
            <tr>
                <td><%=staff.fullname%></td>
                <td><%=staff.email%></td>
                <td><%=staff.mobile%></td>
                <td><%=staff.contacted%></td>
                <td><button><a href=<%="https://wa.me/"+staff.mobile%>>Connect</a></button></td>
            </tr>
        <% }); %>


    </table>
</body>

</html>